# Python bytecode
__pycache__/
*.pyc

# Virtual environments
spark-venv/
.venv/

# Spark outputs / generated data
spark_outputs/
data/normalized/
data/normalized_csv/

# Logs
*.log

# IDE / OS
.idea/
.vscode/
.DS_Store
